.footer {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}
.footer-item {
  font-size: 20px;
  color: #242424;
}
